* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Zen Dots', cursive;
  font-weight: bold;
  background-color:  #2e3833;
}
.logo {
  width: 130px;
  height: 40px;
  margin-left: 30px;
}

h1 {
  font-family: 'Zen Dots', cursive;
  font-size: 50px;
  position: absolute;
  top: 100px;
  left: 450px;
  color: #e62e00;
  
}

.dav1 {
  width: 200px;
  height: 300px;
  margin-left: 200px;
  margin-top: 100px;
}

.dav2 {
  width: 200px;
  height: 300px;
  margin-left: 200px;
  margin-top: 100px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

/* this section sets up the navigation bar and places the logo to the left */
/nav {
  width: 90%;
  height: 80px;
  margin-left: 90px;
 }

ul{
  float: right;
  margin-right: 10px;
}

li{
  display: inline-block;
  line-height: 50px;
  margin-top: 0 5px;
}

/* this section set the navigation button attributes */
a {
  width: 100px;
  color: black;
  text-decoration: none;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 10px;
  border: solid;
  text-shadow: 2px 2px 4px purple;
  background: yellow;
  border-color:  #e62e00;
}

/* this section sets the hover effect  */
a:hover{
  background: red;
  border-color:  #ffff1a;
  transition: 0.6s;
  cursor: pointer;
  border-radius: 20px;
}

/* this section sets the names text image. I have created a name block as an image in this case */

/* this section sets the responsivity when screen is larger*/

@media (max-width: 1024px){
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
    }
}

/* this section sets the responsivity when screen reaches smaller size */

@media (max-width: 700px){
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: darkslategray;
    top: 80px;
    left: -100;
    text-align: center;
    transition: all 0.5s;
    }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 20px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover {
    background:  #99ff33;
    color: black; 
  }
}

/* THIS IS THE END OF THE HOMEPAGE SECTION */
